* {
  transition-duration: 1s;
  color: white;
  margin: 0;
}

html,
body {
  /* font-family: 'Noto Serif Display', serif; */
  color: white;
  margin: 0;
  background-color: #000000;
  text-rendering: optimizeLegibility;
  height:100%;
  z-index: 0;
}

#version{
  position: absolute;
  color: rgba(255, 255, 255, 0.124);
  z-index: 50;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#myVideo, #myVideo2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  zoom: 50%;
  filter: brightness(0.6);
}

.flex {
  display: flex;
}


.title {
  /* font-family: "Sofia", sans-serif; */
  /* font-family: noto-serif-semicondensed, serif; */
  font-size: 90px;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





/* Input */

.check {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.radio {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.dropdown{
  background-color: transparent;
  border-color: transparent;
  border: none;
  border-radius: 50%;
}


/* Debugging */

#infoBox{
  /* width: 80%;
  height: 80%; */
  background-color: #161616f1;
  position: absolute;
  color: white;
  z-index: 3;
  padding: 40px;
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}
#infoBox p{
  font-family:'Courier New', Courier, monospace;
  /* font-size: 30px; */
  padding: 10px;
  width: unset;
  margin: unset;
}

#infoBox h3{
  padding: 10px;
  display: flex;
  justify-content: center;
}


/* Logo */

#logo{
  overflow: hidden;
  transform: translatey(0px);
}

#container{
  animation: float 6s ease-in-out 5s infinite;
  left: -1%;
  top: 2%;
  position: relative;
  display: flex;
}

.logoText{
  position:absolute;
  color: rgb(255, 255, 255);
  /* color: none; */
  font-size: 100px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#imgLogo{
  zoom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ss{
  position: absolute;
  animation: sIntro 5s ease-in-out 0s 1 normal none;
}

#letters{
  position: absolute;
  animation: extraIntro 5s ease-in-out 0s 1 normal none;
}

.extraText{
  animation: extraIntro 5s ease-in-out 0s 1 normal none;
}

.s{
  font-size: 380px;
  animation: sIntro 5s ease-in-out 0s 1 normal none;
}

#s1{
  left: -121px;
  top: -350px;
}

#s2{
  left: -230px;
  top: -186px;
}

#erene{
  left: 72px;
  top: -71px;
}

#ounds {
  left: -20px;
  top: 83px;
  width: 400px;
}

#note{
  left: 165px;
  top: -47px;
  font-size: 230px;
  transform: rotate(10deg);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes sIntro {
  0%{
    color: transparent;
    opacity: 0;
  }
  30%{
    color: transparent;
    opacity: 0;
  }
  35%{
    color: white;
    opacity: 1;
  }
  100%{
    color: white;
    opacity: 1;
  }
}


@keyframes extraIntro {
  0%{
    color: transparent;
    opacity: 0;
  }
  80%{
    opacity: 0;
    color: transparent;
  }
  85%{
    opacity: 1;
    color: white;
  }
  100%{
    opacity: 1;
    color: white;
  }
}








/* Animation Intro Boxes */

#box{
  position: absolute;
  border-style: none;
  animation: introBox 2s ease-in-out 0s 1 normal none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}


@keyframes introBox {
  /* None */
  0%{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 10px;
    width: 10px;
    transform: rotate(0deg);
  }
  8%{
    background-color: rgba(255, 255, 255, 0);
  }

  /* Dot */
  20%{
    background-color: white;
  }
  25%{
    width: 10px;
  }

  /* Line */
  50% {
    width: 700px;
    border-width: 0px 0px;
    border-style: none;
  }
  55% {
    border-width: 0px 0px;
    border-color: transparent;
    border-style: solid;
  }

  /* Box */
  75% {
    
    border-width: 250px 0px;
    border-color: white;
  }
  87% {
    height: 10px;
    background-color: white;
    border-width: 250px 0px;
  }

  89%{
    background-color: transparent;
  }
  
  /* Top/Bottom Borders */
  100%{
    border-style: solid;
    width: 700px;
    background-color: transparent;
    height: 500px;
    border-width: 10px 0px;
  }
}

#line{
  position: absolute;
  border-style: none;
  animation: introLine 2s ease-in-out 2.5s 1 normal none;
  transform: skew(-27deg);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@keyframes introLine {
  /* None */
  0%{
    background-color: rgba(255, 255, 255, 0);
    height: 10px;
    width: 10px;
    left: 47%;
  }
  8%{
    background-color: rgba(255, 255, 255, 0);
  }

  /* Dot */
  20%{
    background-color: white;
  }
  25%{
    height: 10px;
  }

  /* Line */
  50% {
    height: 500px;
  }
  55% {
    width: 10px;
  }

  /* Box */
  75% {
    width: 500px;
  }
  87% {
    width: 500px;
    background-color: white;
  }

  89%{
    left: 47%;
    width: 500px;
  }
  
  /* Move right */
  100%{
    left: 90%;
    width: 10px;
    background-color: white;
    height: 500px;
  }
}

@keyframes fadeIn {
  0%{
    opacity:0;
    display: none;
  }
  89%{
    opacity:0;
    display: none;
  }
  100%{
    opacity:1;
    display: flex;
  }
}










/* Button Stuff */

.btn {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  /* max-width: 160px;  */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 500px; 
  animation: fadeIn 5s ease-in-out 0s 1 normal none;
}

.btn:hover { text-decoration: none; }


.btn-2 {
  font-family: 'Noto Serif Display', serif;
  top: 300px;
  letter-spacing: 0;
  background-color: transparent;
  border: transparent;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
background: rgba(white, 1);
}

.btn-2:after,
.btn-2:before {
backface-visibility: hidden;
border: 1px solid white;
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: #fff;
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
bottom: auto;
top: 0;
width: 70%;
}










/* App Settings */

.app {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: fixed;
  background-color: rgba(31, 30, 32, 0.392);
  padding: 15px;
   /* width: 100%; */
   height: 100%;
   align-items: center;
}

.cat h4{
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.opt, .opt2 {
  align-items: center;
  margin-bottom: 10px;
}

.opt2{
  margin-top: 15px;
}

.music .opt {
  margin-left: 10px;
}

.vol {
  display: none;
  -webkit-appearance: none;
  width: 100px;
  height: 10px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.vol:hover {
  opacity: 1;
}

.vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.vol::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.check {
    /* height: 125%;
    width: 125%; */
    height: 25px;
    width: 25px;
}
.column {
  flex-direction: column;
  margin: 20px;
  min-width: 340px;
}

#musicTab{
  min-width: 420px;
}

.cat {
  flex-direction: column;
  margin-bottom: 25px;
}

h1 {
  margin-bottom: 25px;
}

.music h2{
  width: 280px;
  font-size: 22px;  
  text-decoration: underline;
}

.music p {
  width: 250px;
  font-size: 18px;
}

p {
  width: 170px;
  margin-right: 20px;
  font-size: 20px;
}








/* Screen Sizes & Mobile Fixes */

@media screen and (max-height: 700px) {
  .app, .title{
    zoom: 65%;
  }
  #myVideo{
    zoom: 10%
  }
}
 
@media screen and (min-width: 1500px) {
  @keyframes introLine {
    /* None */
    0%{
      background-color: rgba(255, 255, 255, 0);
      height: 10px;
      width: 10px;
      left: 47.5%;
    }
    8%{
      background-color: rgba(255, 255, 255, 0);
    }
  
    /* Dot */
    20%{
      background-color: white;
    }
    25%{
      height: 10px;
    }
  
    /* Line */
    50% {
      height: 500px;
    }
    55% {
      width: 10px;
    }
  
    /* Box */
    75% {
      width: 500px;
    }
    87% {
      width: 500px;
      background-color: white;
    }
  
    89%{
      left: 47.5%;
      width: 500px;
    }
    
    /* Move right */
    100%{
      left: 90%;
      width: 10px;
      background-color: white;
      height: 500px;
    }
  }
}

@media screen and (max-width: 1440px) {
  @keyframes introLine {
    /* None */
    0%{
      background-color: rgba(255, 255, 255, 0);
      height: 10px;
      width: 10px;
      left: 47.3%;
    }
    8%{
      background-color: rgba(255, 255, 255, 0);
    }
  
    /* Dot */
    20%{
      background-color: white;
    }
    25%{
      height: 10px;
    }
  
    /* Line */
    50% {
      height: 500px;
    }
    55% {
      width: 10px;
    }
  
    /* Box */
    75% {
      width: 500px;
    }
    87% {
      width: 500px;
      background-color: white;
    }
  
    89%{
      left: 47.3%;
      width: 500px;
    }
    
    /* Move right */
    100%{
      left: 90%;
      width: 10px;
      background-color: white;
      height: 500px;
    }
  }
}

@media screen and (max-width: 1000px) {
  @keyframes introLine {
    /* None */
    0%{
      background-color: rgba(255, 255, 255, 0);
      height: 10px;
      width: 10px;
      left: 46.4%;
    }
    8%{
      background-color: rgba(255, 255, 255, 0);
    }
  
    /* Dot */
    20%{
      background-color: white;
    }
    25%{
      height: 10px;
    }
  
    /* Line */
    50% {
      height: 500px;
    }
    55% {
      width: 10px;
    }
  
    /* Box */
    75% {
      width: 500px;
    }
    87% {
      width: 500px;
      background-color: white;
    }
  
    89%{
      left: 46.4%;
      width: 500px;
    }
    
    /* Move right */
    100%{
      left: 90%;
      width: 10px;
      background-color: white;
      height: 500px;
    }
  }
}

@media screen and (max-width: 900px) {
  @keyframes introLine {
    /* None */
    0%{
      background-color: rgba(255, 255, 255, 0);
      height: 10px;
      width: 10px;
      left: 46.5%;
    }
    8%{
      background-color: rgba(255, 255, 255, 0);
    }
  
    /* Dot */
    20%{
      background-color: white;
    }
    25%{
      height: 10px;
    }
  
    /* Line */
    50% {
      height: 500px;
    }
    55% {
      width: 10px;
    }
  
    /* Box */
    75% {
      width: 500px;
    }
    87% {
      width: 500px;
      background-color: white;
    }
  
    89%{
      left: 46.5%;
      width: 500px;
    }
    
    /* Move right */
    100%{
      left: 90%;
      width: 10px;
      background-color: white;
      height: 500px;
    }
  }
}
  
@media screen and (max-width: 800px) {
  #infoBox{ font-size: 30px;}
    p, .music p{
      width: 80px;
      font-size: 15px;
      margin-right: 10px;
    }
    .check, .radio{
      height: 15px;
      width: 15px;
      margin-right: 10px;
    }
    .vol{
      width: 80px;
      height: 5px;
    }
    .vol {
      display: none;
      -webkit-appearance: none;
      border-radius: 3px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }
    
    .vol:hover {
      opacity: 1;
    }
    
    .vol::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #04aa6d;
      cursor: pointer;
    }
    
    .vol::-moz-range-thumb {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      cursor: pointer;
    }


    .column{min-width: 240px;}
    .app{
      font-size: 15px;
      flex-direction: column;
      width: 100%;
      zoom:200%;
      overflow-y: scroll;
      padding: 0%;
      overflow-x: hidden;
    }
    .music h2 {
      width: 180px;
      font-size: 15px;
    }
    .opt2, .opt{
      display: flex;
      width: 200px;
    }
    .music p{
      font-size: 11px;
      margin-right: 10px;
    }
    .cat {
      display: flex;
      align-items: center;
    }
    #myVideo, #myVideo2 {
      right: -1700px;
    }
    #container{
      /* left: -48%;
      top: -11%; */
    }
    @keyframes introLine {
      /* None */
      0%{
        background-color: rgba(255, 255, 255, 0);
        height: 10px;
        width: 10px;
        left: 47%;
      }
      8%{
        background-color: rgba(255, 255, 255, 0);
      }
    
      /* Dot */
      20%{
        background-color: white;
      }
      25%{
        height: 10px;
      }
    
      /* Line */
      50% {
        height: 500px;
      }
      55% {
        width: 10px;
      }
    
      /* Box */
      75% {
        width: 500px;
      }
      87% {
        width: 500px;
        background-color: white;
      }
    
      89%{
        left: 47%;
        width: 500px;
      }
      
      /* Move right */
      100%{
        left: 90%;
        width: 10px;
        background-color: white;
        height: 500px;
      }
    }
}
@media screen and (max-width: 720px) {
  @keyframes introLine {
    /* None */
    0%{
      background-color: rgba(255, 255, 255, 0);
      height: 10px;
      width: 10px;
      left: 46%;
    }
    8%{
      background-color: rgba(255, 255, 255, 0);
    }
  
    /* Dot */
    20%{
      background-color: white;
    }
    25%{
      height: 10px;
    }
  
    /* Line */
    50% {
      height: 500px;
    }
    55% {
      width: 10px;
    }
  
    /* Box */
    75% {
      width: 500px;
    }
    87% {
      width: 500px;
      background-color: white;
    }
  
    89%{
      left: 46%;
      width: 500px;
    }
    
    /* Move right */
    100%{
      left: 90%;
      width: 10px;
      background-color: white;
      height: 500px;
    }
  }
}

@media screen and (max-width: 400px) {
  @keyframes introLine {
    /* None */
    0%{
      background-color: rgba(255, 255, 255, 0);
      height: 10px;
      width: 10px;
      left: 45.5%;
    }
    8%{
      background-color: rgba(255, 255, 255, 0);
    }
  
    /* Dot */
    20%{
      background-color: white;
    }
    25%{
      height: 10px;
    }
  
    /* Line */
    50% {
      height: 500px;
    }
    55% {
      width: 10px;
    }
  
    /* Box */
    75% {
      width: 500px;
    }
    87% {
      width: 500px;
      background-color: white;
    }
  
    89%{
      left: 45.5%;
      width: 500px;
    }
    
    /* Move right */
    100%{
      left: 90%;
      width: 10px;
      background-color: white;
      height: 500px;
    }
  }
}