* {
  transition-duration: 1s;
  color: white;
  margin: 0;
}



html,
body {
  font-family: 'Noto Serif Display', serif;
  color: white;
  margin: 0;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.purple {
  background-color: rgba(0, 0, 0, 0.232);
  color: rgb(255, 255, 255);
  border: 2px solid #892b83;
}

.purple:hover {
  background-color: #892b83;
  color: white;
}

.check {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.radio {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

#myVideo, #myVideo2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  zoom: 50%;
  filter: brightness(0.6);
}

.flex {
  display: flex;
}

.title {
  /* font-family: "Sofia", sans-serif; */
  /* font-family: noto-serif-semicondensed, serif; */
  font-size: 90px;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo{
  overflow: hidden;
  transform: translatey(0px);
}

#container{
  animation: float 6s ease-in-out infinite;
  left: -70px;
  position: relative;
}

.logoText{
  position:absolute;
  color: rgb(255, 255, 255);
  font-size: 100px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.sign__word {
  color: #ffffff;
  animation: neon 3s ease-in-out infinite alternate;
}
/*-- Animation Keyframes --*/
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.92);
 }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
 }
}




.s{
  font-size: 380px;
}

#s1{
  left: -121px;
  top: -350px;
}

#s2{
  left: -230px;
  top: -186px;
}

#erene{
  left: 72px;
  top: -71px;
}

#ounds {
  left: -20px;
  top: 83px;
  width: 400px;
}

#note{
  left: 165px;
  top: -47px;
  font-size: 230px;
  transform: rotate(10deg);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}



.btn {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  /* max-width: 160px;  */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 500px; 
}

.btn:hover { text-decoration: none; }


.btn-2 {
  font-family: 'Noto Serif Display', serif;
  top: 300px;
  letter-spacing: 0;
  background-color: transparent;
  border: transparent;
    color: white;
    text-decoration: none;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
background: rgba(white, 1);
}

.btn-2:after,
.btn-2:before {
backface-visibility: hidden;
border: 1px solid white;
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: #fff;
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
bottom: auto;
top: 0;
width: 70%;
}


.app {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: fixed;
  background-color: rgba(31, 30, 32, 0.392);
  padding: 15px;
   /* width: 100%; */
   height: 100%;
   align-items: center;
}

@media screen and (max-height: 700px) {
.app, .title{
  zoom: 65%;
}
#myVideo{
  zoom: 10%
}
}
.opt, .opt2 {
  align-items: center;
  margin-bottom: 10px;
}

.opt2{
  margin-top: 15px;
}

.music .opt {
  margin-left: 10px;
}

.vol {
  -webkit-appearance: none;
  width: 100px;
  height: 10px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.vol:hover {
  opacity: 1;
}

.vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.vol::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.check {
    height: 25px;
    width: 25px;
}
.column {
  flex-direction: column;
  margin: 20px;
}

.cat {
  flex-direction: column;
  margin-bottom: 25px;
}

h1 {
  margin-bottom: 25px;
}

.music h2{
  width: 280px;
  font-size: 22px;  
  text-decoration: underline;
}

.music p {
  width: 250px;
  font-size: 18px;
}

p {
  width: 170px;
  margin-right: 20px;
  font-size: 20px;
}

